h1 {
  font-family: sans-serif;
  font-size: 4.236em;
  margin: 10px;
}

svg {
  display: inline-block;
  float: left;
}

section {
  width: 200px;
  height: 400px;
  display: inline-block;
  margin-left: 20px;
}

p {
  font-family: sans-serif;
  font-size: 1em;
  margin-top: 0;
}

a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.618em;
  color: black;
  border-bottom: solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
}

.year.label {
  font: 500 150px "Helvetica Neue";
  fill: #ddd;
}

.year.label.active {
  fill: #aaa;
}

.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}
